/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$font-size-basic: 10px;
$font-size-default: 18px;

$font-weight-regular: 500;

/* Layout */

$width-mobile: 375px;
$width-desktop: 1440px;
$width-switch-point: 1057px;

/* Colors */

/* Primary */

$red_warn: hsl(0, 100%, 66%);
$red_warn_hover: hsl(0, 78%, 42%);
$input-focus: hsl(278, 94%, 30%);
$input-hover: hsl(249, 99%, 64%);

/* Neutral */

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

/* Transition time */

$transition-x1: 0.2s;
